body {
   background-color: rgb(57, 0, 59);
   color: #fff;
   padding: 2% 10%;
}

h1, h2, h3 {
   color: rgb(255, 81, 0);
}

button {
   border: none;
   padding: 10px;
   border-radius: 10px;
}

input {
   padding: 10px;
   border-radius: 10px;
   outline: none;
}
